*, html {
    box-sizing: border-box;
    margin: 0;
}

#countries-page {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;

}

#countries-div {
    height: 70vh;
    background-color: white;
    padding: 20px;
    overflow: auto;
    width: 20vw;
}

.country-text {
    font-size: 30px;
    cursor: pointer;
}

.country-text:hover {
    background-color: grey;
}

#specific-country-component {

}