*, html {
    box-sizing: border-box;
    margin: 0;
    /* height: 100vh; */
}

body { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('./assets/world_map.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;

}

@media only screen and (max-width: 800px) {
    body {
        background-size: 400%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-size: 600%;
    }
}

#custom-nav {
    /* width: 100%; */
    height: 3em;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#custom-nav h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
 

#countries-page {
    width: 100vw;
    
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2.5fr;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    
}

@media only screen and (max-width: 800px) {
    
    #countries-page {
        grid-template-columns: 1fr;

    }

    #countries-div {
        display: none
    }
}

@media only screen and (min-width: 800px) {
    #select-countries {
        display: none;
    }
}

#countries-div {
    height: 70vh;
    background-color: white;
    padding: 20px;
    overflow: auto;
    /* width: 20vw; */
    border-radius: 50px;
    scrollbar-width: thin;
    scrollbar-color: #888888 #888888;
    scrollbar-width: 10px;
    border: 10px solid white
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Adjust the background color as needed */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #999; /* Adjust the thumb color as needed */
    border-radius: 15%;
  }
  
  ::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons */
  }

.country-text {
    font-size: 25px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .country-text {
        font-size: 20px;
    }
}

.country-text:hover {
    background-color: #aaa;
    border-radius: 5px;
}

#specific-country-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    height: 70vh;
    border-radius: 5%;
}

#specific-country-component p {
    font-size: 1.5em;
}

@media only screen and (max-width: 500px) {
    .flag-img {
        width: 250px !important;
        height: 150px !important;
    }
}

@media only screen and (max-width: 350px) {
    .flag-img {
        width: 150px !important;
        height: 100px !important;
    }

    #specific-country-component p {
        font-size: 1.2rem;
    }
}